# HEX-Dateien werden mitgeliefert.
#
# Geprueft am 03.08.2026: Das Quellprojekt jp112sdl/AskSinAnalyzer steht unter
# CC BY-NC-SA 3.0. Die Lizenz erlaubt die Weitergabe ausdruecklich ("Share —
# copy and redistribute the material in any medium or format"), an drei
# Bedingungen: Namensnennung, keine kommerzielle Nutzung, Weitergabe unter
# gleichen Bedingungen. Alle drei sind erfuellt, die Belege stehen in
# README.md.
#
# Deshalb hier KEIN *.hex-Ausschluss.

# Zwischenstaende des Compilers gehoeren nie hierher.
*.elf
*.bin
*.eep
build/
